@media only screen and (max-width: 700px){
* {
    margin: 5px;
}
body {
    background: black;
    color: blueviolet;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}
header {
    font-size: 25px;
    position: absolute;
    top: 150px;
    left: 25%;
}
#table {
    position: absolute;
    top: 600px;
}
nav:hover {
    background-color: blue;
}
nav {
    position: fixed;
    background: white;
    font-size: 25px;
}
main  {
    position: absolute;
    top: 250px;
}
}
@media only screen and (min-device-width: 700px) {
* {
    margin: 5px;
}
body {
    background: black;
    color: blueviolet;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}
header {
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 500px;
}
#table {
    position: absolute;
    top: 750px;
    border: blueviolet;
    border-style: dotted;
    width: auto;
    font-size: 25px;
}
nav:hover {
    background-color: blue;
}
nav {
    position: fixed;
    background: white;
    font-size: 25px;
}
main  {
    position: absolute;
    top: 250px;
    left: 250px;
    font-size: 25px;
}
}