.cia-realizes {
    color: darkgreen;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#myh3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.parent > p {
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    float: left;
    padding-right: 30px;
}